@charset "UTF-8";
*,
*::after,
*::before {
  box-sizing: inherit;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
li {
  margin: 0;
  padding: 0;
}

html {
  box-sizing: border-box;
}

button {
  cursor: pointer;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

body.is-open {
  overflow: hidden;
}

body.mobil-menu {
  overflow: hidden;
}

ul {
  list-style: none;
}

a {
  color: #2196f3;
  text-decoration: none;
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

button {
  cursor: pointer;
}

html {
  box-sizing: border-box;
}

.header-container {
  align-items: center;
  padding-left: 16px;
  padding-right: 16px;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 480px) {
  .header-container {
    max-width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .header-container {
    max-width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .header-container {
    max-width: 1200px;
  }
}

.products-container {
  align-items: center;
  padding-left: 16px;
  padding-right: 16px;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 480px) {
  .products-container {
    max-width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .products-container {
    max-width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .products-container {
    max-width: 1200px;
  }
}

/* Основной шрифт */
/* Шрифт заголовков */
/* Основной цвет текста */
/* Вторичный цвет текста */
/* Третий цвет текстка */
/* Цвет акцента */
/* Основной цвет заголовков */
/* Вторичный цвет заголовков*/
/*Основной цвет кнопок */
/* Вторичный цвет кнопок */
/* Основной цвет фона */
/* Вторичный цвет фона  */
/*Третий  цвет фона  */
/* Четвертный цвет фона  */
/* Пятый цвет фона (отзывы) */
/* Шестой цвет фона (бордер под отзывами) */
/*Цвет фона мобильного меню*/
/* Цвет бордера в моб меню */
/* Фон первого продукта */
/* Фон второго продукта */
/* Фон третьего продукта */
.header {
  position: relative;
  background-color: #FFB8CA;
}

.header-hero {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  align-content: center;
}

.header-hero__logo {
  display: flex;
  text-decoration: none;
}

.header-nav {
  align-items: center;
  justify-content: flex-start;
  display: flex;
}
.header-nav__item {
  text-decoration: none;
  margin-right: 35px;
}
.header-nav__item:last-child {
  text-decoration: none;
  margin-right: 0px;
}

.header-nav__button {
  width: 159px;
  height: 44px;
  border-radius: 22px;
  background: #fff;
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.31;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  color: #D41443;
  border: 1px solid #fff;
}

.header-nav__icon {
  width: 26px;
  height: 26px;
  fill: currentColor;
  margin-left: 12px;
}

.header-products {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  align-content: center;
  flex-direction: column;
  max-width: 277px;
}

.header-products__title {
  font-family: "Titan One";
  font-style: normal;
  font-weight: 400;
  font-size: 38px;
  line-height: 1.16;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #FFFFFF;
}

.header__title-red {
  font-family: "Titan One";
  font-style: normal;
  font-weight: 400;
  font-size: 58px;
  line-height: 90.5%;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #D41443;
}

.header-button {
  display: flex;
  text-decoration: none;
  flex-wrap: wrap;
  margin-right: auto;
  margin-left: 0px;
  text-align: center;
  margin-bottom: 40px;
  margin-top: 24px;
  align-content: center;
  margin-top: 24px 40px;
}

.header-button-list {
  margin-left: auto;
  margin-right: auto;
  flex-wrap: wrap;
  gap: 15px 15px;
  display: flex;
}

.header-button-list__title {
  display: inline-flex;
  flex-wrap: wrap;
}

.header-button__red {
  width: 107px;
  height: 40px;
  background: #D41443;
  border-radius: 20px;
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.29;
  border: none;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
}

.header-button__white {
  width: 138px;
  height: 40px;
  background: #FFFFFF;
  border-radius: 20px;
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.29;
  color: #D41443;
  border: none;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
}

.header-work {
  display: flex;
}

.container {
  align-items: center;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0px auto;
  min-width: 320px;
}

.container-customer {
  margin-left: auto;
  margin-right: auto;
  max-height: 642px;
  padding-top: 80px;
  padding-bottom: 48px;
}
@media screen and (min-width: 480px) {
  .container-customer {
    max-width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container-customer {
    max-width: 768px;
    padding-top: 80px;
    padding-bottom: 80px;
  }
}
@media screen and (min-width: 1280px) {
  .container-customer {
    max-width: 1280px;
    padding-top: 114px;
    padding-bottom: 120px;
  }
}

@media screen and (min-width: 320px) {
  .customer__slider {
    max-width: 480px;
    padding-left: 20px;
    padding-right: 20px;
  }
}
@media screen and (min-width: 768px) {
  .customer__slider {
    padding-left: 74px;
    padding-right: 74px;
    max-width: 768px;
  }
}
@media screen and (min-width: 1280px) {
  .customer__slider {
    padding-left: 123px;
    padding-right: 123px;
    max-width: 1280px;
  }
}

.customer__img {
  margin-left: auto;
  margin-right: auto;
}

.customer__list {
  background: #fafafa;
  display: flex;
  height: 308px;
  margin-right: auto;
  margin-left: auto;
  margin-top: 32px;
  margin-bottom: 36px;
  padding: 43px 50px 17px 50px;
}
@media screen and (min-width: 480px) {
  .customer__list {
    max-width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .customer__list {
    height: 164px;
    max-width: 768px;
    margin-top: 20px;
    margin-bottom: 24px;
    padding: 20px 6px 36px 6px;
  }
}
@media screen and (min-width: 1280px) {
  .customer__list {
    max-width: 1280px;
    height: 138px;
    margin-top: 22px;
    margin-bottom: 36px;
    padding: 32px 106px;
  }
}

.customer__text {
  display: flex;
  position: relative;
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.88;
  text-align: center;
  letter-spacing: 0.04em;
  color: #000000;
  margin-right: auto;
  margin-left: auto;
  align-items: center;
  background-image: repeating-linear-gradient(#E1E1E1, #FAFAFA 1px, transparent 1px, transparent 32px);
}

.customer__text::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  height: 64px;
  width: 72px;
  background-size: 72px 64px;
  background-repeat: no-repeat;
  background-position: center center;
  margin-left: -32px;
  margin-top: -36px;
  background-image: url("/images/lao.png");
  background-repeat: no-repeat;
  background-position: 0 0;
  position: absolute;
  top: 15px;
  left: 80px;
}

.customer__title {
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.85;
  text-align: center;
  color: #000000;
}

.slick-next,
.slick-prev,
.slick-arrow {
  visibility: hidden;
  display: none;
}

.slick-list {
  overflow: hidden;
}

.slick-track {
  display: flex;
}

.slick-dots {
  display: flex;
  align-items: center;
  justify-content: center;
}

.slick-dots li {
  list-style: none;
}

/* Активная точка */
/* Элемент точки */
.slick-dots li button {
  font-size: 0;
}/*# sourceMappingURL=main.css.map */