.container {
  // display: flex;
  align-items: center;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0px auto;
  min-width: 320px;

    // @media screen and (min-width: 480px) {
    //   width: 480px;
    // }

    // @media screen and (min-width: 768px) {
    //   width: 768px;
    // }

    // @media screen and (min-width: 1280px) {
    //   width: 1280px;
    // }
}

.container-customer {
  margin-left: auto;
  margin-right: auto;
  max-height: 642px;
  padding-top: 80px;
  padding-bottom: 48px;
  

  @media screen and (min-width: 480px) {
    max-width: 480px;
  }
  
  @media screen and (min-width: 768px) {
    max-width: 768px;
    // max-height: 522px;
    padding-top: 80px;
    padding-bottom: 80px;
  }
  
  @media screen and (min-width: 1280px) {
    max-width: 1280px;
    // max-height: 590px;
    padding-top: 114px;
    padding-bottom: 120px;
  }
}

.customer__slider {

  @media screen and (min-width: 320px) {
    max-width: 480px;
    padding-left: 20px;
    padding-right: 20px;
  }
  
  @media screen and (min-width: 768px) {
    padding-left: 74px;
    padding-right: 74px;
    max-width: 768px;
  }
  
  @media screen and (min-width: 1280px) {
    padding-left: 123px;
    padding-right: 123px;
    max-width: 1280px;
  }
}
.customer__img {
  margin-left: auto;
  margin-right: auto;
}

.customer__list {
  background: #fafafa;
  display: flex;
  height: 308px;
  margin-right: auto;
  margin-left: auto;
  margin-top: 32px;
  margin-bottom: 36px;
  padding: 43px 50px 17px 50px;
  // position: relative;

  @media screen and (min-width: 480px) {
    max-width: 480px;
  }
  
  @media screen and (min-width: 768px) {
    height: 164px;
    max-width: 768px;
    margin-top: 20px;
    margin-bottom: 24px;
    padding: 20px 6px 36px 6px;
  }
  
  @media screen and (min-width: 1280px) {
    max-width: 1280px;
    height: 138px;
    margin-top: 22px;
    margin-bottom: 36px;
    padding: 32px 106px;

  }
}
.customer__text {
  display: flex;
  position: relative;
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.88;
  text-align: center;
  letter-spacing: 0.04em;
  color: #000000;
  margin-right: auto;
  margin-left: auto;
  align-items: center;
  //   border-bottom: 2px solid #000;
  background-image: repeating-linear-gradient(#E1E1E1, #FAFAFA 1px, transparent 1px, transparent 32px);
}

.customer__text::before {
  // content: url("/images/lao.png");
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  height: 64px;
  width: 72px;
  background-size: 72px 64px;
  background-repeat: no-repeat;
  background-position: center center;
  margin-left: -32px;
  margin-top: -36px;
  background-image: url("/images/lao.png");
  background-repeat: no-repeat;
  background-position: 0 0;
  position: absolute;
  top: 15px;
  left: 80px;
  // content: "\201e";
  // background: #E1E1E1;
  // transform: rotate(-180deg);
  // position: absolute;
  // top: -16px;
  // left: 6px;
  // font-family: Georgia,
  // serif;
  // font-size: 40px;
  // line-height: 1;
  // font-weight: bold;
}

.customer__title {
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.85;
  text-align: center;
  color: #000000;
}

.slick-next,
.slick-prev,
.slick-arrow {
  visibility: hidden;
  display: none;
}

.slick-dots {
  position: relative;
  bottom: 59px;
  display: flex;
  list-style: none;
  display: block;
  text-align: center;
  padding: 0;
  margin: 0;
  width: 100%;

  &:before {
            position: absolute;
            top: 0;
            left: 0;
            content: $slick-dot-character;
            width: 20px;
            height: 20px;
            font-family: $slick-font-family;
            font-size: 20px;
            line-height: 20px;
            text-align: center;
            color: blue;
            opacity: $slick-opacity-not-active;
            -webkit-font-smoothing: antialiased;
            -moz-osx-font-smoothing: grayscale;
          }
}

.slick-active button:before {
  color: red;
  opacity: $slick-opacity-default;
  background-image: url(/images/Group8.png);


}

// .tablist {
//   display: none;
//   list-style: none;
//   visibility: hidden;
// }
// .butto#slick-slide-control00::before {
//   display: none;
//   list-style: none;
//   visibility: hidden;
// }

// .slick-dots {
//   position: absolute;
//   bottom: -25px;
//   list-style: none;
//   display: block;
//   text-align: center;
//   padding: 0;
//   margin: 0;
//   width: 100%;
//   li {
//     position: relative;
//     display: inline-block;
//     height: 20px;
//     width: 20px;
//     margin: 0 5px;
//     padding: 0;
//     cursor: pointer;
//     button {
//       border: 0;
//       background: transparent;
//       display: block;
//       height: 20px;
//       width: 20px;
//       outline: none;
//       line-height: 10px;
//       font-size: 10px;
//       color: transparent;
//       padding: 5px;
//       cursor: pointer;
//       &:hover,
//       &:focus {
//         outline: none;
//         &:before {
//           opacity: $slick-opacity-on-hover;
//         }
//       }
//       &:before {
//         position: absolute;
//         top: 0;
//         left: 0;
//         content: $slick-dot-character;
//         width: 20px;
//         height: 20px;
//         font-family: $slick-font-family;
//         font-size: 20px;
//         line-height: 20px;
//         text-align: center;
//         color: $slick-dot-color;
//         opacity: $slick-opacity-not-active;
//         -webkit-font-smoothing: antialiased;
//         -moz-osx-font-smoothing: grayscale;
//       }
//     }
//     &.slick-active button:before {
//       color: $slick-dot-color-active;
//       opacity: $slick-opacity-default;
//       background-image: url(/images/Group8.png);
//     }
//   }
