*,
*::after,
*::before {
	box-sizing: inherit;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
li {
	margin: 0;
	padding: 0;
}

html {
	box-sizing: border-box;
}

button {
	cursor: pointer;
}

img {
	display: block;
	max-width: 100%;
	height: auto;
}

body.is-open {
	overflow: hidden;
}

body.mobil-menu {
	overflow: hidden;
}

ul {
	list-style: none;
}

a {
	color: #2196f3;
	text-decoration: none;
	list-style: none;
}